@charset "utf-8";
@import "base.css";

.content-article {
    background: #fff;
}

.content-article h1 {
    text-align: center;
    font-size: 1.05rem;
    padding-top: 1.4rem;
}

.content-padded {
    margin: .75rem;
}

.content-padded h1.title {
    font-size: 1.2rem;
}

.text-indent {
    text-indent: 2rem;
}

.buttons-row-wrap {
    height: 2.2rem;
    text-align: center;
    background: #ffffff;
    margin: 0 -.5rem;
}

.pagination {
    text-align: center;
    font-size: .75rem;
    padding-top: .75rem;
}

.bar-header-secondary-home ~ .content {
    top: 6.6rem;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ico {
    vertical-align: middle;
    display: inline-block;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-close {
    width: .7rem;
    height: .7rem;
    background-image: url("../img/ico-close.png");
}

.ico-test {
    width: 1.65rem;
    height: .8rem;
    margin-right: .4rem;
    background-image: url("../img/ico-test.png");
    margin-top: -3px;
}

.ico-ask, .ico-answer {
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.4rem;
    background-image: url("../img/ico-ask.png");
}

.ico-answer {
    background-image: url("../img/ico-answer.png");
}

.bar-tab .tab-item .icon {
    background-repeat: no-repeat
}

.bar-tab .tab-item.active .icon-home1 {
    background: url("../img/ico-home-active.png");
    background-size: auto 100%;
    width: 1.2rem;
}

.bar-tab .tab-item .icon-home1 {
    background-image: url("../img/ico-home.png");
    background-size: auto 100%;
    width: 1.2rem;
}

.bar-tab .tab-item.active .icon-me1 {
    background-image: url("../img/ico-me-active.png");
    background-size: auto 100%;
    width: 1.2rem;
}

.bar-tab .tab-item .icon-me1 {
    background-image: url("../img/ico-me.png");
    background-size: auto 100%;
    width: 1.2rem;
}

.media-list-title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: .75rem;
    color: #333;
    padding-top: .2rem;
    padding-left: 10px;
    position: relative;
    top: 6px;
}

.list-info li {
    font-size: .7rem;
}

.view-more {
    text-align: center;
    font-size: 12px;
    display: block;
    margin: 1rem 0;
}

/*
.view-more:after{ content: '';
    height: 1px;
    width: 50%;
    background-color: #999999;
    display: block;
    margin: 0 auto;
    margin-top: -.7rem;}*/
.button.button-fill.button-enroll {
    background: #1870EE;
    border-radius: 0;
    width: 7.1rem;
    font-size: .65rem;
}

/* 固定底部提问按钮*/
.fixed-bottom-circle {
    position: fixed;
    right: 15px;
    bottom: 70px;
    /*display: inline-block;*/
    z-index: 4444;
    background: #1870ee;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    color: #ffffff;
    justify-content: center;
    line-height: 2.2rem;
    font-size: .7rem;
    box-shadow: 1px 5px 10px #ddd;;
}

.cards-list-test .card-content-inner {
    font-size: .8rem;
    padding-top: .4rem;
}

.cards-list-test .button.button-fill {
    background: #2c74e6;
    width: 3.85rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 12px;
}

.cards-list-test .button.button-fill.disabled {
    background: #ECECEC;
    color: #999999
}

.media-list-policy .item-title {
    white-space: normal;
    color: #333;
    font-size: .8rem;
    line-height: 1.2rem;
    padding-top: .7rem;
}

.media-list-policy .item-text {
    top: .8rem;
    font-size: .7rem;
    color: #999999;
}

/* 立即报名页面 */
#page-enroll .bar-tab {
    background: #1870EE;
}

#page-enroll .bar-tab .tab-item {
    color: #ffffff
}

#page-enroll h4 {
    text-align: center;
    font-size: .9rem;
    font-weight: normal;
}

#page-enroll .button.button-big {
    width: 8rem;
    margin: 0 auto;
    font-size: .75rem;
    height: 2rem;
    line-height: 2rem;
}

.list-entry-info {

    font-size: .75rem;

    line-height: 1.8rem;
}

.list-entry-info li {
    background: #ffffff;
    padding: .6rem .75rem;
    margin-bottom: .75rem;
}

.list-entry-info .link-close {
    float: right;
    color: #AAAAAA;
    font-size: 1rem;
}

.list-entry-info .color-primary {
    font-size: .75rem;
    float: right;
}

.list-entry-info .ico {
    height: .9rem;
    width: .9rem;
    background-repeat: no-repeat;
}

.list-entry-info .ico-house {
    background-image: url("../img/ico-house.png");
    background-size: auto 100%;
}

.list-entry-info .ico-bug {
    background-image: url("../img/ico-bug.png");
    background-size: auto .75rem;
}

.list-entry-info .ico-user {
    background-image: url("../img/ico-user.png");
    background-size: auto .8rem;
}

.list-entry-info .ico-tel {
    background-image: url("../img/ico-tel.png");
    background-size: .7rem auto;
}

/*报名成功*/
.list-card-success {
    text-align: center;
    margin-top: -15px;
}

.list-card-success li {
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 15px #ebebec;
    margin-bottom: .75rem;
}

.list-card-success header {
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .85rem;
    color: #fff;
    background: url("../img/bg-circle.png") repeat-x bottom;
    background-size: auto 100%;
}

.list-card-success section {
    padding: .8rem 0;
}

.list-card-success footer {
    height: 2rem;
    line-height: 2rem;
    font-size: .8rem;
    color: #1AA6F7;
    border-top: 1px dashed #ddd;
    margin: 0 .75rem;
}

/*我要签到*/
.list-reach li {
    display: flex;
    background: #fff url("../img/bg-circle2.png") repeat-x top;
    background-size: auto .6rem;
    margin-bottom: .75rem;
    border-radius: 4px;
    padding: 0 .5rem;
    padding-top: 1.2rem;
    padding-bottom: .75rem;
}

.list-reach li header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list-reach .code {
    margin-right: 12px;
}

.list-reach .info header {
    font-size: .85rem;
}

.list-reach label {
    background: #1870EE;
    border-radius: 3px;
    height: .9rem;
    padding: 1px 6px;
    text-align: center;
    line-height: .9rem;
    color: #ffffff;
    font-size: 12px;
}

.list-reach .info section, .list-reach .info footer {
    font-size: .65rem;
    line-height: 1rem;
}

.list-reach .info section {
    color: #666;
    padding: .4rem 0;
}

/* 咨询详情 */
#page-detail section {
    background: #F8F8F8;
    padding: 4px 0;
}

#page-detail .content-article h1 {
    font-size: .9rem;
    text-align: left;
    margin: .4rem 0;
    padding: 0;
    padding-top: .6rem;
}

#page-detail .tip, #page-detail section .time {
    color: #666666;
    font-size: .75rem;
}

#page-detail header .color-gray, #page-detail section .time {
    font-size: .7rem;
}

#page-detail section p {
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 15px;
}

/*报名详情*/
.detail-info {
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 1px 13px rgba(98, 98, 98, 0.15);
    background: #ffffff;
    position: relative;
    padding: .2rem 0;
    margin-top: -40px;
}

.detail-list-info {
    background: rgba(255, 255, 255, 1);
    opacity: 0.8;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 1px 1px 13px rgba(98, 98, 98, 0.15);
    padding: .75rem;
    color: #333;
    margin-top: .75rem;
}

.bar-tab.bar-tab-detail {
    background: rgba(24, 112, 238, 1);
    box-shadow: 4px -6px 13px rgba(51, 51, 51, 0.12);
}

.bar-tab.bar-tab-detail .tab-item {
    color: #ffffff
}

.bar-tab.bar-tab-detail .tab-item1 {
    background: #ffffff;
    color: #666666;
    width: .5%;
}

.popup-add {
    background: rgba(0, 0, 0, .3);

}

.add-form-wrap {
    display: flex;
    /* flex: 1; */
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;

}

.add-form {
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    padding-right: .75rem;
}

.add-form .button-fill {
    background: #1870EE;
    border-radius: 2px;
    height: 2rem;
    line-height: 2rem;
    margin: .5rem 0;
    font-size: .8rem;
}

.add-form .list-block, .add-form .list-block input {
    font-size: .75rem;
}

.add-form .list-block .item-title.label {
    width: auto
}

/*个人信息*/
#page-userInfo {
    font-size: .75rem;
}

/*测试详情*/
#page-list-questions h1 {
    font-size: .95rem;
}

#page-list-questions .time_source {
    text-align: center;
    color: #999;
    font-size: .7rem;
    padding-bottom: .5rem;
}

.list-questions {
    margin-bottom: 3rem;
}

.list-questions li {
    background: #F8F8F8;
    margin-bottom: .75rem;
    padding: .75rem;
}

.list-questions header {
    font-size: .75rem;
    line-height: 1.2rem;
    padding-bottom: .3rem;
}

.list-questions label {
    display: block;
    font-size: .7rem;
    color: #666666;
}

#page-list-questions .bar-tab, #page-view-questions .bar-tab {
    background: #fff;
    padding: 0 .75rem;
}

#page-list-questions .bar-tab:before, #page-view-questions .bar-tab:before {
    height: 0;
}

#page-list-questions .bar-tab .tab-item, #page-view-questions .bar-tab .tab-item {
    color: #ffffff;
    background: #1870EE;
    position: relative;
    height: 2rem;
    font-weight: normal;
    top: -1.3rem;
}

.list-questions input {
    display: none;
}

.list-questions span {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: .5rem;
}

.list-questions input[type='radio'] ~ span {
    background-image: url("../img/user/ico-radio.png");
}

.list-questions input[type='radio']:checked ~ span {
    background-image: url("../img/user/ico-radio-active.png");
}

.list-questions input[type='checkbox'] ~ span {
    background-image: url("../img/user/ico-checked.png");
}

.list-questions input[type='checkbox']:checked ~ span {
    background-image: url("../img/user/ico-checked-active.png");
}

/* 用户管理 */
#page-user-manger .color-warning {
    border: 1px solid #f60;
    height: 24px;
    padding: 0 5px;
    line-height: 24px;
    float: right;
}

/**/
#page-submit-question .content {
    display: flex;
    flex-direction: column
}

#page-submit-question .submit-btns {
    height: 2.6rem;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-bottom: .5rem;
    display: flex;
    padding: 0 .75rem;
    font-size: .75rem;
}

#page-submit-question .btn-cancel {
    color: #C9C9C9
}

#page-submit-question .btn-submit {
    color: #007AFF
}

#page-submit-question textarea {
    flex: 1;
    font-size: .7rem;
    padding: .5rem .75rem;
}

textarea::-webkit-input-placeholder {
    color: #D8D6D6;
    font-size: .75rem;
}
.search-input .icon{left: 50%;
    margin-left: -74px;}
.search-input input::-webkit-input-placeholder {
   text-align: center;
}
/* 提交测试 */
#page-test-result {
    text-align: center
}

#page-test-result .cur-source {
    width: 10.5rem;
    height: 10.5rem;
    background: url("../img/user/bg-circle-big.png") no-repeat center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.75rem auto;
    color: #ffffff;

}

#page-test-result .cur-source .num {
    font-size: 1.2rem;
}

#page-test-result .cur-source .num strong {
    font-size: 2.35rem;
    font-weight: normal;
}

#page-test-result .cur-source .text {
    font-size: .7rem;
}

#page-test-result .result {
    font-size: .75rem;
    color: #333;
}

#page-test-result .content-article h1 {
    font-size: .95rem;
}

#page-test-result .button-fill {
    background: #1870EE;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 4px;
    font-size: .8rem;
    margin-top: 2rem;
}

/*查看问卷*/
#page-view-questions .content-article h1 {
    margin: 0;
    padding: 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-size: .8rem;
}

#page-view-questions li {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
}

#page-view-questions textarea {
    background: #F8F8F8;
    width: 100%;
    border-radius: 2px;
    height: 4.5rem;
    border: none;
    padding: 10px 15px;
    margin-top: 8px;
}

/*问卷提交*/
#page-question-success h5 {
    font-size: .85rem;
    margin-bottom: 0;
    color: #333;
}

#page-question-success p {
    color: #999999;
    font-size: .75rem;
    line-height: 21px;
}

#page-question-success .button-fill {
    height: 2.2rem;
    line-height: 2.2rem;
    background: #1870EE;
    font-size: .8rem;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 4rem;
}

/*我的活动*/
#page-list-activity h4 {
    text-align: center;
    font-size: .85rem;
}

.list-activity li {
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: .75rem;
    margin-bottom: .75rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.list-activity section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-activity li h5 {
    font-size: .8rem;
    padding: 0;
    margin: 0;
    margin-bottom: .4rem;
}

.list-activity .text {

    font-size: .75rem;
    color: #999
}

.list-activity .button-fill {
    background: #1870EE;
    height: 1.35rem;
    line-height: 1.35rem;
    color: #fff;
    width: 4.65rem;
    border-radius: 0;
    font-size: .7rem;
}

/* 我的测试 */
.list-activity.list-source section {
    align-items: flex-end;
}

/*查看问卷*/
.list-view-question section {
    flex-direction: column;
}

.list-view-question section .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list-view-question section .text2 {
    font-size: .7rem;
    color: #333;
}

.list-view-question .text2 .color-gray {
    color: #666666;
}

/* 政策详情 */
.content-detail p {
    color: #4A4A4A;
}

.content-detail h1 {
    margin: 0;
    font-size: .85rem;
    line-height: 1.4rem;
    padding: .6rem 0;
}

.content-detail .notice {
    font-size: .7rem;
    color: #999999;
}

.content-detail .pic {
    padding: .5rem 0;
}

.list-tif {
    margin-left: 2.6rem;
}

.list-tif li {
    background: #F8F8F8;
    overflow: hidden;
    font-size: 12px;
    padding: .2rem .5rem;
    line-height: 1.1rem;
    margin-bottom: .75rem;
}

.list-tif a {
    color: #1870EE;
}

.list-tif .ico-tip2 {
    width: 12.5px;
    height: 14px;
    background-image: url("../img/ico-tip2.png");
    margin-right: .3rem;
}

/*我的*/
.list-user-link {
    border-radius: 15px;
    border: none;

    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.15);
}

.list-user-link li {
    margin: 0 .6rem;
}

.list-user-link .badge {
    background: #EA0722;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: .1rem .3rem .1rem;
}

.list-user-link .item-inner:after {
    height: 0;
}

.list-user-link .item-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

/*我的*/
.userinfo {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    text-align: center;
    margin-top: -76px;
    position: relative;
    z-index: 666;
}

.userinfo header {
    border-bottom: 1px solid #ddd;
    padding-bottom: .6rem;
    font-size: .85rem;
    margin-top: -1.8rem;
}

.userinfo footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .8rem;
    font-size: .75rem;
    color: #4A4A4A;
    padding-bottom: .1rem;
}

.userinfo  .avotar {
    position: relative;
    display: inline-block;
    height: 63.5px;
    margin-bottom: 10px;
}
.userinfo  .avotar .edit{position: absolute;    bottom: 5px;
    right: -4px;
    }