<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关信通</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/swiper/swiper.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page" id="page-index">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/demos/card" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">关信通</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item active" href="index.html">
                <span class="icon icon-home1"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item" href="我的.html">
                <span class="icon icon-me1"></span>
                <span class="tab-label">我的</span>
            </a>
        </nav>
        <div class="bar bar-header-secondary bar-header-secondary-home">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">活动</a>
                <a href="#tab2" class="tab-link button">问答</a>
                <a href="#tab3" class="tab-link button">政策</a>
                <a href="#tab4" class="tab-link button">测试</a>
                <a href="#tab5" class="tab-link button">问卷</a>
            </div>

            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id="search" placeholder="搜索活动名称、关键字">
                </div>
            </div>
        </div>
        <!-- 页面内容区开始 -->
        <article class="content">
            <section class="tabs tabs-home">
                <!-- 活动 -->
                <div id="tab1" class="tab active">
                    <!-- Slider -->
                    <div class="swiper-container swiper-container0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img
                                    src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                                    alt="" width="100%"></div>
                            <div class="swiper-slide"><img
                                    src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                                    alt="" width="100%"></div>
                            <div class="swiper-slide"><img
                                    src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                                    alt="" width="100%"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination0"></div>
                    </div>
                    <div class="list-block media-list">
                        <ul>
                            <li>
                                <div class="media-list-title">《海关企业管理分类办法》培训活动</div>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img src="../public/img/media.png" height="110">
                                    </div>
                                    <div class="item-inner">
                                        <ol class="list-unstyled list-info">
                                            <li><span class="color-gray">活动举办地点:</span>厦门</li>
                                            <li><span class="color-gray">活动举办日期:</span>2018-08-11</li>
                                            <li><span class="color-gray">报名截止时间:</span>2018-09-24</li>
                                        </ol>
                                        <a href="报名详情.html" class="button button-fill button-enroll">我要报名</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media-list-title">《海关企业管理分类办法》培训活动</div>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img src="../public/img/media.png" height="110">
                                    </div>
                                    <div class="item-inner">
                                        <ol class="list-unstyled list-info">
                                            <li><span class="color-gray">活动举办地点:</span>厦门</li>
                                            <li><span class="color-gray">活动举办日期:</span>2018-08-11</li>
                                            <li><span class="color-gray">报名截止时间:</span>2018-09-24</li>
                                        </ol>
                                        <a href="报名详情.html" class="button button-fill button-enroll">我要报名</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="view-more color-gray">——————&nbsp;查看更多过期活动&nbsp;——————</a>
                </div>
                <!-- 问答 -->
                <div id="tab2" class="tab">
                    <div class="list-block cards-list clearfix">
                        <ul>
                            <li class="card">
                                <a href="咨询详情.html">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                            <p class="color-gray">发表于 2015/01/15</p>
                                            <p>
                                                <i class="ico ico-answer"></i>行政审批事项名称:海关监控货物仓库审批适用范围适用于监管作业场所的申请经过发展
                                            </p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">北京海关&nbsp;李志鹏&nbsp;1-27已回答</span>
                                    </footer>
                                </a>
                            </li>
                            <li class="card">
                                <a href="咨询详情.html">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                            <p class="color-gray">发表于 2015/01/15</p>
                                            <p>
                                                <i class="ico ico-answer"></i>行政审批事项名称:海关监控货物仓库审批适用范围适用于监管作业场所的申请经过发展
                                            </p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">北京海关&nbsp;李志鹏&nbsp;1-27已回答</span>
                                    </footer>
                                </a>
                            </li>
                            <li class="card">
                                <a href="咨询详情.html">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                            <p class="color-gray">发表于 2015/01/15</p>
                                            <p>
                                                <i class="ico ico-answer"></i>行政审批事项名称:海关监控货物仓库审批适用范围适用于监管作业场所的申请经过发展
                                            </p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">北京海关&nbsp;李志鹏&nbsp;1-27已回答</span>
                                    </footer>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="提问.html" class="fixed-bottom-circle"><span>提问</span></a>
                </div>
                <!-- 政策 -->
                <div id="tab3" class="tab">
                    <div class="swiper-container swiper-container2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img
                                    src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                                    alt="" width="100%"></div>
                            <div class="swiper-slide"><img
                                    src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                                    alt="" width="100%"></div>
                            <div class="swiper-slide"><img
                                    src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                                    alt="" width="100%"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination2"></div>
                    </div>
                    <div class="list-block media-list media-list-policy">
                        <ul>
                            <li>
                                <a href="政策详情.html" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">关于《中华人民共和国海关企业信用管理办法》及相关配套制度实施有关事项的公告</div>
                                        </div>
                                        <div class="item-text">2018-01-31</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="政策详情.html" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">关于《中华人民共和国海关企业信用管理办法》及相关配套制度实施有关事项的公告</div>
                                        </div>
                                        <div class="item-text">2018-01-31</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="政策详情.html" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">关于《中华人民共和国海关企业信用管理办法》及相关配套制度实施有关事项的公告</div>
                                        </div>
                                        <div class="item-text">2018-01-31</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="政策详情.html" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">关于《中华人民共和国海关企业信用管理办法》及相关配套制度实施有关事项的公告</div>
                                        </div>
                                        <div class="item-text">2018-01-31</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="政策详情.html" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">关于《中华人民共和国海关企业信用管理办法》及相关配套制度实施有关事项的公告</div>
                                        </div>
                                        <div class="item-text">2018-01-31</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 测试 -->
                <div id="tab4" class="tab">
                    <div class="list-block cards-list clearfix cards-list-test">
                        <ul>
                            <li class="card">
                                <header class="card-header-pic">
                                    <img src="../public/img/pic.png" alt="" width="100%">
                                </header>
                                <section class="card-content">
                                    <div class="card-content-inner">
                                        海关企业管理分类办法测试题
                                    </div>
                                </section>
                                <footer class="card-footer">
                                    <span class="color-gray"><i class="ico ico-test"></i>答题截止时间：21:09:43</span>
                                    <a href="测试详情.html" class="button button-fill button-round">立即答题</a>
                                </footer>
                            </li>
                            <li class="card">
                                <header class="card-header-pic">
                                    <img src="../public/img/pic2.png" alt="" width="100%">
                                </header>
                                <section class="card-content">
                                    <div class="card-content-inner">
                                        《海关企业管理分类办法》测试题
                                    </div>
                                </section>
                                <footer class="card-footer">
                                    <span class="color-gray"> <i class="ico ico-test"></i>已结束</span>
                                    <span class="color-black">测试分数&nbsp;<span class="color-warning">98</span></span>
                                </footer>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 问卷 -->
                <div id="tab5" class="tab">
                    <div class="list-block cards-list clearfix cards-list-test">
                        <ul>
                            <li class="card">
                                <header class="card-header-pic">
                                    <img src="../public/img/pic3.png" alt="" width="100%">
                                </header>
                                <section class="card-content">
                                    <div class="card-content-inner">
                                        关于AEO认证企业管理措施相关问卷调查
                                    </div>
                                </section>
                                <footer class="card-footer">
                                    <span class="color-gray"><i class="ico ico-test"></i>答题截止时间：21:09:43</span>
                                    <a href="查看问卷.html" class="button button-fill button-round">立即参与</a>
                                </footer>
                            </li>
                            <li class="card">
                                <header class="card-header-pic">

                                    <img src="../public/img/pic4.png" alt="" width="100%">
                                </header>
                                <section class="card-content">
                                    <div class="card-content-inner">
                                        《海关企业管理分类办法》测试题
                                    </div>
                                </section>
                                <footer class="card-footer">
                                    <span class="color-gray"><i class="ico ico-test"></i>已结束</span>
                                    <a href="#" class="button button-fill button-round disabled">已参与</a>
                                </footer>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/swiper/swiper.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>