<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报名详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">报名详情</h1>
        </header>
        <nav class="bar bar-tab bar-tab-detail">
            <a class="tab-item" href="立即报名.html">
                立即报名
            </a>
            <a class="tab-item tab-item1" href="我要签到.html">
                我要签到
            </a>
        </nav>
        <!-- 页面内容区开始 -->
        <article class="content">
            <div>
                <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                     alt="" width="100%">
            </div>

            <div class="detail-info">
                <div class="content-padded">
                    <p>2012年6月，海关总署与新加坡关税局正式签署了《中华人民共和国海关总署和新加坡关税局关于
                        <中华人民共和国海关企业分类管理办法>和
                            <新加坡安全贸易伙伴计划>互认的安排
                    </p>
                    <p>
                        <strong>特就有关事项的培训学习举办活动：</strong>
                        总署与新加坡关税局正式签署了《中华人民共总署与新加坡关税局正式签署了《中华人民共
                    </p>
                    <p>附件：
                        <a href="" class="color-primary">培训活动学习文档.docx</a>
                    </p>
                </div>
            </div>

            <ul class="list-unstyled content-padded detail-list-info">
                <li><span class="color-gray">时间：</span>2018年3月</li>
                <li><span class="color-gray">地点：</span>北京市朝阳区建外大街华彬大厦</li>
                <li><span class="color-gray">培训讲师：</span>张彬彬</li>
                <li><span class="color-gray">主办方：</span>国家税务局</li>
                <li><span class="color-gray">报名截止人日期：</span>2016年6月28日</li>
                <li><span class="color-gray">联系人：</span>李彩旗</li>
                <li><span class="color-gray">联系电话：</span>18800088800</li>
            </ul>

            <div class="content-block text-center num">
                已报名&nbsp;<span class="color-warning">32</span>&nbsp;人&emsp;
                剩余&nbsp;<span class="color-warning">178</span>&nbsp;名额
            </div>

        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>