<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查看回复</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">查看回复</h1>
        </header>
        <div class="bar bar-header-secondary bar-header-secondary-home">
            <div class="buttons-row-wrap">
                <div class="buttons-row">
                    <a href="#tab1-1" class="tab-link active button">未答复</a>
                    <a href="#tab1-2" class="tab-link button">已答复</a>
                </div>
            </div>
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id="search" placeholder="输入问题关键字进行搜索">
                </div>
            </div>
        </div>
        <!-- 页面内容区开始 -->
        <article class="content">
            <div class="tabs-animated-wrap">
                <section class="tabs tabs-home">
                    <!--  未答复 -->
                    <div class="tab active" id="tab1-1">
                        <div class="list-block cards-list clearfix">
                            <ul>
                                <li class="card card-reply">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">米高扬&emsp;2018-09-22 08:39&emsp;提问</span>
                                    </footer>
                                    <a href="#" class="button button-fill">回复</a>
                                </li>
                                <li class="card card-reply">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">米高扬&emsp;2018-09-22 08:39&emsp;提问</span>
                                    </footer>
                                    <a href="#" class="button button-fill">回复</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--已答复-->
                    <div class="tab " id="tab1-2">
                        <div class="list-block cards-list clearfix">
                            <ul>
                                <li class="card card-status">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                            <p class="color-gray">发表于 2015/01/15</p>
                                            <p>
                                                <i class="ico ico-answer"></i>行政审批事项名称:海关监控货物仓库审批适用范围适用于监管作业场所的申请经过发展
                                            </p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">北京海关&nbsp;李志鹏&nbsp;1-27已回答</span>
                                        <a href="#" class="button">未发布</a>
                                    </footer>
                                </li>
                                <li class="card card-status">
                                    <header class="card-header"><i class="ico ico-ask"></i>海关监管货物仓储如何申请</header>
                                    <section class="card-content">
                                        <div class="card-content-inner">
                                            <p>兰瑞有限公司</p>
                                            <p class="color-gray">发表于 2015/01/15</p>
                                            <p>
                                                <i class="ico ico-answer"></i>行政审批事项名称:海关监控货物仓库审批适用范围适用于监管作业场所的申请经过发展
                                            </p>
                                        </div>
                                    </section>
                                    <footer class="card-footer">
                                        <span class=" color-gray">北京海关&nbsp;李志鹏&nbsp;1-27已回答</span>
                                        <a href="#" class="button disabled">已发布</a>
                                    </footer>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>